[user]
    name = Sebas
    email = fellsebastian@yahoo.com.ar
[init]
    defaultBranch = main
[help]
    autocorrect = 10
[pull]
    ff = true
[push]
    default = current
[merge]
    conflictstyle = zdiff3
    tool = fugitive
[diff]
    colorMoved = default
    algorithm = histogram
    wsErrorHighlight = all
    tool = fugitive
[mergetool "fugitive"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[rebase]
    autosquash = true
    autostash = true
[pretty]
    pf = format:%C(auto)%h%C(reset) %C(white)-%C(reset) %C(italic blue)%aD%C(reset) %C(italic cyan)(%ar) - %aN %C(reset)%n %C(white)⤷%C(reset) %s %C(241) %C(reset)%C(auto)%d%C(reset)%n%w(0,7,7)%+(trailers:only,unfold)
[branch]
    sort = committerdate
[core]
    ; autocrlf = false
    eol = lf
	editor = nvim
